.login-block {
    @include flexGrid (column, $j-content, $a-items, $f-wrap);
}

.login-block__form {
    width: 100%;
    padding: 0 0 124px 0;
    background-color: #ffffff;
}

.login-block__form--sign-up {
    padding: 0 0 46px 0; 
}

.login-block__headline {
    @include fontOptions (24, 24, $phoneWidth, $desktopWidth, $mainFont_b, 500, 32, $letterSpacing, $textDecoration, $textTransform, $mainBlack);
    margin: 134px 0 32vw 6.5%;
}

.login-block__description {
    @include fontOptions (14, 14, $phoneWidth, $desktopWidth, $mainFont, $fontWeight, 22, $letterSpacing, $textDecoration, $textTransform, $fontColor);
    width: 48%;
    margin: 21px 0 0 6.5%;
}

.login-block__email,
.login-block__name,
.login-block__password {
    label {
        @include fontOptions (14, 14, $phoneWidth, $desktopWidth, $mainFont, $fontWeight, 22, $letterSpacing, $textDecoration, $textTransform, $bgGray04);
    }
    input {
        @include fontOptions (16, 16, $phoneWidth, $desktopWidth, $mainFont, $fontWeight, 22, $letterSpacing, $textDecoration, $textTransform, $mainBlack);
        width: 100%;
        border: none;
        border-bottom: solid 1px $bgGray02;
    }
}

.login-block__email,
.login-block__name {
    @include flexGrid (column, $j-content, $a-items, $f-wrap);
    width: 86.8%;
    
    input {
        padding: 16px 0 5px 0;
    }
}

.login-block__name {
    text-transform: capitalize;
    margin: 30px 0 0 6.5%;
}

.login-block__email {
    margin: 48px 0 0 6.5%;
}

.login-block__email--sign-up {
    margin: 31px 0 0 6.5%;
}

.login-block__password {
    @include flexGrid (row, space-between, $a-items, wrap);
    width: 86.8%;
    margin: 31px 0 0 6.5%;
    input[type="password"] {
        padding: 9px 0 5px;
        height: 28px;
        font-size: 37px;
        line-height: 1;
        letter-spacing: -0.14em;
    }
}

.login-block__password-forget {
    @include fontOptions (14, 14, $phoneWidth, $desktopWidth, $mainFont, $fontWeight, 22, $letterSpacing, $textDecoration, $textTransform, $fontColor);
    background-color: transparent;
    border: none;
    padding: 0 0 0 0;
}

.login-block__password-forget--sign-up {
    display: none;
}

.login-block__submit {
    min-width: 278px;
    height: 50px;
    width: 86.5%;
    margin: 30px auto 0;
    &:hover,
    &:active {
        background-color: #ffffff;
        color: $mainGreen;
    }
}

.login-block__text {
    width: 100%;
    @include fontOptions (14, 14, $phoneWidth, $desktopWidth, $mainFont, $fontWeight, 22, $letterSpacing, $textDecoration, $textTransform, $bgGray04);
    text-align: center;
    margin: 31px 0 0 0;
}

.login-block__new {
    @include flexGrid (column, center, center, $f-wrap);
    @include fontOptions (16, 16, $phoneWidth, $desktopWidth, $mainFont_b, $fontWeight, 16, 0.01em, $textDecoration, $textTransform, $mainGreen);
    width: 100%;
    margin: 6px 0 0 0;
    &:hover,
    &:active {
        color: rgba(#28a466, 1);
    }
}

.login-block__headline--sign-up {
    margin: 134px 0 24vw 6.5%;
}

@media screen and (min-width: $tabletWidth + px) and (max-width: $tabletBreakPoint + px) {
    .login-block {
        @include flexGrid (column, flex-start, center, $f-wrap);
        min-height: 1024px;
    }

    .login-block__form {
        width: 55.34%;
        max-width: 650px;
        min-height: 467px;
        border-radius: 7px;
        padding: 0 0 0 0;
    }

    .login-block__form--sign-up {
        padding: 0 0 50px 0;
    }

    .login-block__headline {
        margin: 238px 0 36px 0;
    }

    .login-block__description {
        margin: 51px 0 0 11.8%;
    }

    .login-block__email,
    .login-block__name,
    .login-block__password {
        width: 76.6%;
        margin: 31px 0 0 11.8%;
    }

    .login-block__email--sign-up,
    .login-block__password--sign-up {
        margin: 26px 0 0 11.8%;
    }

    .login-block__submit {
        width: 76.471%;
    }

    .login-block__submit--sign-up {
        margin: 25px auto 0;
    }
}

@media screen and (min-width: $desktopWidth + px) {
    .login-block {
        @include flexGrid (column, flex-start, flex-end, wrap);
        position: relative;
        width: 63.195%;
        height: 63.334%;
        max-width: 910px;
        max-height: 570px;
        z-index: 1;
        background-image: url("/assets/img/bg-svg-login_desktop.svg");
        background-color: #ffffff;
        border-radius: 8px;
        margin: auto;
    }

    .login-block__headline {
        @include flexGrid (column, flex-end, flex-start, wrap);
        width: 35.798%;
        max-width: 700px;
        height: 92px;
        margin: 0 0 0 0;
        padding: 0 58px 0 68px;
        border-radius: 0 8px 0 0;
    }

    .login-block__headline--sign-up {
        height: 77px;
    }

    .login-block__form {
        @include flexGrid (column, flex-start, flex-start, wrap);
        width: 35.8%;
        max-width: 700px;
        height: auto;
        border-radius: 0 0 8px 0;
        padding: 0 60px 58px 68px;
    }

    .login-block__form--sign-up {
        padding: 0 60px 0 68px;
    }

    .login-block__description {
        width: auto;
        margin: 11px 0 0 0;
    }

    .login-block__email,
    .login-block__password,
    .login-block__name {
        width: 100%;
    }

    .login-block__name {
        margin: 27px 0 0 0;
    }

    .login-block__email {
        margin: 61px 0 0 0;
    }

    .login-block__password {
        margin: 32px 0px 0 0;
    }

    .login-block__email--sign-up,
    .login-block__password--sign-up {
        margin: 26px 0 0 0;
    }

    .login-block__password-forget {
        line-height: 14px;
    }

    .login-block__submit {
        min-width: 325px;
        align-self: center;
        margin: 40px 0 0 0;
    }
    .login-block__submit--sign-up {
        margin: 25px 0 0 0;
    }

    .login-block__text--sign-up {
        margin: 26px 0 0 0;
    }
}