.background {
    background-image: url('/src/assets/img/bg-image_mob.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 337px;
}

.background--login {
    background-image: url('/src/assets/img/bg-image-login_mob.png');
    background-position: 50% 0;
}

@media screen and (min-width: $tabletWidth + px) and (max-width: $tabletBreakPoint + px) {
    .background {
        background-image: url('/src/assets/img/bg-image_tablet.png');
        background-position: 50% 0;
    }
    .background--login {
        background-image: url('/src/assets/img/bg-image-login_tablet.png');
    }
}

@media screen and (min-width: $desktopWidth + px) {
    .background {
        display: flex;
        background-image: url('/src/assets/img/bg-image_desktop.png');
        background-position: 50% 0;
    }

    .background--login {
        position: relative;
        background-image: url('/src/assets/img/bg-image-login_desktop.png');
        min-height: 900px;
        height: 100vh;
        &:after {
            content: '';
            display: flex;
            position: absolute;
            width: 100vw;
            height: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, #FFFFFF 93.29%);
        }
    }
}