.logo {
    @include fontOptions(20, 20, $phoneWidth, $desktopWidth, $mainFont_b, $fontWeight, 20, 0.02em, $textDecoration, lowercase, rgba(#363837, 1));
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include centeredElem (absolute);
    background-image: url("/src/assets/img/icon-logo.svg");
    background-repeat: no-repeat;
    background-size: 18px 26px;
    background-position: 0 1px;
    width: 98px;
    height: 30px;
}

.logo--login {
    top: 61px;
    left: 0;
    transform: none;
    margin: 0 auto 0 6.6%;
}


@media screen and (min-width: $tabletWidth + px) and (max-width: $tabletBreakPoint + px) {
    .logo {
        top: 94px;
        left: 50%;
    }

    .logo--login {
        margin: 0;
        transform: translate(-50%,-50%);
    }
}

@media screen and (min-width: $desktopWidth + px) {
    .logo {
        top: 75px;
        left: 9%;
    }
    .logo--login {
        z-index: 2;
        top: 434px;
        left: 50%;
        transform: translate(-325%,-50%);
        margin: 0;
    }
}